body
{
    width: 50%;
    padding: 10pt;
}

main
{
    padding: 15pt;
    margin: 15pt 0;
    background-color: #f1f1f1;
    border-radius: 10pt;
}

#main_header
{
    text-align: center;
}

footer
{
    text-align: right;
    margin: 0 10pt;
}

h1,
h2,
h3
{
    font-family: sans-serif;
}

article code.code_block
{
    margin: 0;
    padding: 0 10pt;
    display: block;
    box-shadow: inset 2pt 2pt 5pt 1pt #ccc;
    background-color: #dfdfdf;
}

article table
{
    width: 100%;
    text-align: center;
    border: solid gray 1pt;
}

main article header.article_header p
{
    font-style: italic;
}

article section
{
    margin-top: 30pt;
    margin-bottom: 0;
}

main article address
{
    margin: 10pt 0;
}

#section_comments article
{
    padding: 2pt 10pt;
    margin-bottom: 5pt;
    border-radius: 1pt;
    border-bottom: solid #999 1px;
    background-color: #f4f4f4;
    box-shadow: 0 1pt 1pt 0 #bbb;
}

#section_comments article p
{
    padding-left: 10pt;
}
